{% extends 'base.html' %}
{% load tailwind_filters %}
{% block content %}
<div class="max-w-lg mx-auto">
  <div class="py-5 mt-5 border-b border-gray-200">
    <a class="hover:text-violet-500 mt-3" href="{% url 'agents:agent-list' %}">Go back to the agents</a>
  </div>
  <h1 class="text-4xl text-grey-800 my-5">are you sure want to delete this Agent?</h1>
  <form action="." method="post">
    {% csrf_token %}
    {{form|crispy}}
    <button class="w-full text-white bg-red-500 hover:bg-red-600 px-3 py-2 rounded-md" type='submit'>Delete</button>
  </form>  
</div>
{% endblock content %}